body{
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
    font-size: 14px;
}

a svg{ /*app icon*/ 
    width: 20px;
    height: 20px;
    padding: 0.25rem;
    font-weight: unset;
}

p{
    font-size: 14px;
    margin-top:0;
    margin-bottom:0;
}

.navi{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: column wrap;
    margin-top: 0.625rem;
    margin-right: 1.0625rem;
}

.navi a{
    color: black;
}

.navi .__gmail{
    margin-right: 1rem;  
}

.navi .__images{
    margin-right: 1.125rem;
}

.link{
    color: rgba(0,0,0,0.50);
}
.link:hover{
    text-decoration: underline;
}

.navi .__apps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.125rem;
}

.navi .__apps:hover{
    background-color: rgb(230, 227, 227);
    border-radius: 50%;
}

.navi .__sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 115, 232);
    width: 6rem;
    height: 2.375rem;
    border-radius: 5px;
    color: white;  
}

.navi .__sign-in:hover{
    background: rgba(16, 115, 232, 0.75);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.search{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-flow: column wrap;
}

.search .__search-bar{
    width: 90%;
    max-width: 583px;
    border-radius: 50px;
    margin-bottom: 29px;
    height: 45px;
    border: 1px solid rgb(177, 169, 169);
    display: flex;
    align-items: center;
}

.search .__search-bar:hover, .search .__search-bar:active{
    box-shadow: 0 2px 5px rgb(184, 180, 180);
}

.search .__search-bar .__mag{
    height: 30px;
    margin-left: 8px;
}

.search .__search-bar input{
 height: 30px;
 width: 85%;
 border: none;
}

.search .__search-bar input:focus, .search .__search-bar input:hover{
    outline: none;
}

.search .__search-btn{
    margin-bottom: 30px;  
}

.search .__search-btn input{
    background: rgba(243, 243, 243, 0.5);
    padding: 9px;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgba(0,0,0,0.75);
}

.search .__search-btn input:hover{
    box-shadow: 0 2px 5px rgb(184, 180, 180);
}

.search .__search-btn .__google-search{
    margin-right: 42px;
}

.language{
    text-align: center;
}

.language a:first-child{
    margin:0 12px;
}

.language a{
    color: blue;
}

.footer{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(250, 248, 248);
}

.footer .__country{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.50);
    padding-left: 29px;
}

.footer .__other-links{
    display: flex;
    justify-content: space-between;
    padding-left: 29px;
    padding-right: 29px;
}

.footer .__country, .footer .__other-links{
    padding-top:15px;
    padding-bottom: 15px;
}


/* for mobile*/
@media only screen and (max-width: 600px){
    .footer .__other-links{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .footer .__other-links .__other-links-right{
        margin-top: 25px;
    }
}

.pad:not(:last-child){
    margin-right: 33px;
}