body{
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: 0.8125rem;
}

a svg{ /*app icon*/ 
    width: 20px;
    height: 20px;
    padding: 0.25rem;
    font-weight: unset;
}

.navi{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: column wrap;
    margin-top: 0.625rem;
    margin-right: 1.0625rem;
}


.navi .__gmail{
    margin-right: 1rem;
}

.navi .__images{
    margin-right: 1.125rem;
}

.link:hover{
    text-decoration: underline;
}

.navi .__apps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.125rem;
}

.navi .__apps:hover{
    background-color: rgb(230, 227, 227);
    border-radius: 50%;
}


.navi .__sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 115, 232);
    width: 6rem;
    height: 2.375rem;
    border-radius: 5px;
    color: white;  
}

.logo{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;

}

.search{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-flow: column wrap;
 border: 1px solid blue;
}

.search .__search-bar{
    width: 90%;
    border-radius: 50px;
    margin-bottom: 29px;
    height: 45px;
    border: 1px solid rgb(177, 169, 169);
    display: flex;
    align-items: center;
}

.search .__search-bar .__mag svg{
    height: 30px;
    margin-left: 8px;
}

.search .__search-bar input{
 height: 30px;
 width: 85%;
 border: none;
}

.search .__search-bar input:focus, .search .__search-bar input:hover{
    outline: none;
}

